.grad1 {
    width: 100px;
    height: 500px;
    background-image: linear-gradient(to left, violet 10px, green);
    border: 10px solid black;
}

.grad2 {
    width: 100px;
    height: 100px;
    background-image: radial-gradient( violet, indigo, blue, green, yellow, orange, red);
}